<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

<dom-module id="operaciones-tarjeta">
  <template>

    <style is="custom-style">
        :host{
          display: block;
        }

              .form {
              position: relative;
              z-index: 1;
              background: #FFFFFF;
              max-width: 360px;
              margin: 0 auto 100px;
              padding: 45px;
              text-align: center;
              box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
            }
            .form input {
              font-family: "Roboto", sans-serif;
              outline: 0;
              background: #f2f2f2;
              width: 100%;
              border: 0;
              margin: 0 0 15px;
              padding: 15px;
              box-sizing: border-box;
              font-size: 14px;
            }
            .form button {
              font-family: "Roboto", sans-serif;
              text-transform: uppercase;
              outline: 0;
              background: #194F87;
              width: 100%;
              border: 0;
              padding: 15px;
              color: #FFFFFF;
              font-size: 14px;
              -webkit-transition: all 0.3 ease;
              transition: all 0.3 ease;
              cursor: pointer;
            }
            .form button:hover,.form button:active,.form button:focus {
              background: #0A9BC4;
            }

            .container {
              position: relative;
              z-index: 1;
              max-width: 300px;
              margin: 0 auto;
            }
            .container:before, .container:after {
              content: "";
              display: block;
              clear: both;
            }
            .container .info {
              margin: 50px auto;
              text-align: center;
            }
            .container .info h1 {
              margin: 0 0 15px;
              padding: 0;
              font-size: 36px;
              font-weight: 300;
            }
            .container .info span {
              color: #4d4d4d;
              font-size: 12px;
            }
            .container .info span a {
              color: #000000;
              text-decoration: none;
            }
            .container .info span .fa {
              color: #EF3B3A;
            }

            ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
              width: 15%;
              background-color: #f1f1f1;
              position: fixed;
              height: 30%;
              overflow: auto;
            }

            li a {
              display: block;
              color: #000;
              padding: 8px 16px;
              text-decoration: none;
            }

            li a.active {
              background-color: blue;
              color: white;
            }

            li a:hover:not(.active) {
              background-color: #555;
            }
            .big {
              --iron-icon-height: 25px;
              --iron-icon-width: 25px;
              --iron-icon-fill-color: blue;
            }
            table {
              border-collapse: collapse;
              width: 100%;
            }

            th, td {
              text-align: left;
              padding: 8px;
            }

            tr:nth-child(even) {background-color: #f2f2f2;}
    </style>

    <center>
     <div class="row" hidden="[[loginPage]]">
       <br> <h1><font class="col-md-12" color=blue><b>[[movimientosTarjetas]]</b></font></h1></br>
     </div>
    </center>

    <ul>
      <li><a class="active">Tarjeta <iron-icon icon="credit-card"></iron-icon></a></li>
      <li><a href="#Altas" on-click="funcionAltas">Registrar</a></li>
      <li><a href="#Consulta" on-click="funcionConsulta">Mostrar</a></li>
      <li><a href="#Actualiza" on-click="funcionActualiza">Actualizar</a></li>
    </ul>

    <div class="container" >


      <div class="format-altas" hidden="[[opAltas]]">
         <div class="form">
          <div class="form-altas">
             <input type="text" placeholder="Nombre del banco" value="{{banco::input}}"/>
             <input type="text" placeholder="Numero de Tarjeta" value="{{numeroTarjeta::input}}"/>
             <font color=blue>Fecha de Vencimiento</font>
             <input type="date" value="{{fechaCaducidad::input}}"/>
             <button on-click="altaTarjetas">Alta</button>
          </div>
        </div>
      </div>
      <!--consulta tarjetas tarjetas-->
      <div class="row" hidden="[[opConsulta]]">
        <table >
            <thead>
              <th>Banco</th>
              <th>Tarjeta</th>
              <th>Fecha expiracion</th>
              <th colspan="1"> Eliminar</th>
              <th>Editar</th>
            </thead>
          <tbody>
            <template is="dom-repeat" items="{{listaTarjetas}}">
              <tr>
                <td>[[item.banco]]</td>
                <td>[[item.numeroTarjeta]]</td>
                <td>[[item.fechaCaducidad]]</td>
                <td><label on-click="EliminarTarjeta"><iron-icon class="big" icon="delete" ></iron-icon></label></td>
                <td><label on-click="ActualizarTarjeta"><iron-icon class="big" icon="create" ></iron-icon></label></td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>

      <!--baja tarjeta
      <div class="form-baja" hidden="[[opBajas]]">
         <div class="form">
          <div class="form-bajas">
            <input type="text" placeholder="Numero de Tarjeta" value="{{numeroTarjeta::input}}"/>
              <button on-click="bajaTarjeta">Baja tarjeta</button>
          </div>
        </div>
      </div>-->

      <!--actualiza tarjeta-->
      <div class="form-actualiza" hidden="[[opActualiza]]">
        <div <div class="form">
          <div class="formActualiza">
             <input type="text" placeholder="Numero de Tarjeta" value="{{numeroTarjeta::input}}"/>
             <div class="tarjeta-obtenida" hidden="[[btonActualizaTarjeta]]">
               <input type="text" placeholder="Banco" value="{{banco::input}}"/>
               <lavel><h4>fecha de caducidad</h4></lavel>
               <input type="date" value="{{fechaCaducidad::input}}"/>
               <button hidden="[[btonActualizaTarjeta]]" on-click="actualizaTarjeta">Actualiza tarjeta</button>
             </div>
             <button hidden="[[btonBuscaTarjeta]]" on-click="obtieneTarjeta">Consultar Tarjeta</button>
          </div>
        </div>
      </div>

    </div>
  </template>
  <script>
    class OperacionesTarjeta extends Polymer.Element {
      static get is() { return 'operaciones-tarjeta'; }
      static get properties() {
        return {
          formaltas: {
            type: Boolean,
            value: false
          },
          showTarjetas: {
            type: Boolean,
            value: true
          },
          banco:{
            type: String
          },
          fechaCaducidad:{
            type: Date
          },
          numeroTarjeta:{
            type : String
          },
          movimientosTarjetas:{
            type: String,

          },
          btonActualizaTarjeta:{
            type : Boolean,
            value: true
          },
          btonBuscaTarjeta:{
            type: Boolean,
            value: false
          },
          tarjetaActual:{
            type: String,
          },
          listaTarjetas: {
            type: Array,
            notify: true
          },
          opActualiza:{
            type: Boolean,
            value: true
          },
          opConsulta:{
            type: Boolean,
            value: true
          },
          opAltas:{
            type: Boolean,
            value: true
          }

        };
      }

      constructor() {
        super();
        if(sessionStorage.token){
        //  this.obtenerTarjetas();
        }
      }

      //Menu
      funcionAltas(){
        this.opActualiza = true;
        this.opConsulta = true;
        this.opAltas = false;
        this.movimientosTarjetas = "Registrar Tarjeta";
      }
      funcionConsulta(){
        this.obtenerTarjetas();
        this.opActualiza = true;
        this.opConsulta = false;
        this.opAltas = true;
        this.movimientosTarjetas = "Consulta Tarjetas";
        this.limpiaVariables();
      }
      funcionActualiza(){
        this.opActualiza = false;
        this.opConsulta = true;
        this.opAltas = true;
        this.movimientosTarjetas = "Actualizar Tarjeta";
      }


      //Operaciones
      EliminarTarjeta(e){
        this.numeroTarjeta = (e.model.__data.item.numeroTarjeta);
        this.bajaTarjeta();
        this.obtenerTarjetas();
      }
      ActualizarTarjeta(e){
        this.numeroTarjeta = (e.model.__data.item.numeroTarjeta);
        this.funcionActualiza();
        this.obtieneTarjeta();
      }

      altaTarjetas(){
        var loginURL="http://localhost:3000/tarjeta";
        var request = new XMLHttpRequest();

        request.open('POST', loginURL, false);
        request.setRequestHeader('Content-Type','application/json; charset=UTF-8');
        var token = sessionStorage.getItem('token');
        request.setRequestHeader("Authorization",token);
        var sendObject = JSON.stringify({'numeroTarjeta': this.numeroTarjeta, 'banco':this.banco, 'fechaCaducidad': this.fechaCaducidad});
        request.send(sendObject);

        var responseObject = JSON.parse(request.responseText);
        if (request.status == 200) {
          this.limpiaVariables();
        }
        alert(responseObject.msg);

      }
      obtenerTarjetas() {
        var request = new XMLHttpRequest();
        request.open("GET","http://localhost:3000/tarjeta/",false);
        request.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
        var token = sessionStorage.getItem('token');
        request.setRequestHeader("Authorization",token);
        request.send();
        if(request.responseText == "Unauthorized"){
            sessionStorage.clear();
            location.reload();
        }else if(request.status == 200){
          this.listaTarjetas = JSON.parse(request.responseText).data;
          //console.log("datos: ",this.listaTarjetas);
        }
      }
      bajaTarjeta() {
        var request = new XMLHttpRequest();
        var respuesta;
        request.open("DELETE","http://localhost:3000/tarjeta/"+this.numeroTarjeta,false);
        request.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
        var token = sessionStorage.getItem('token');
        request.setRequestHeader("Authorization",token);
        request.onload = function () {
          var responseObject = JSON.parse(this.response);
          alert(responseObject.msg);
        }
        request.send();
      }
      actualizaTarjeta() {
        var request = new XMLHttpRequest();
        var respuesta;
        request.open("PATCH","http://localhost:3000/tarjeta/"+this.tarjetaActual,false);
        request.setRequestHeader('Content-Type','application/json; charset=UTF-8');
        var token = sessionStorage.getItem('token');
        request.setRequestHeader("Authorization",token);
        var sendObject = JSON.stringify({'numeroTarjeta': this.numeroTarjeta, 'banco':this.banco, 'fechaCaducidad': this.fechaCaducidad});
        request.send(sendObject);
        var respuesta = JSON.parse(request.responseText);
        if(request.status == 200){
          this.btonActualizaTarjeta=true;
          this.btonBuscaTarjeta=false;
          this.limpiaVariables();
        }
        alert(respuesta.msg);

      }
      obtieneTarjeta() {
        var request = new XMLHttpRequest();
        var respuesta;
        request.open("GET","http://localhost:3000/tarjeta/"+this.numeroTarjeta,false);
        request.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
        var token = sessionStorage.getItem('token');
        request.setRequestHeader("Authorization",token);
        //console.log('token: ',request.setRequestHeader);
        request.send();

        //console.log("sesion: ",request.responseText);
        if(request.responseText == "Unauthorized"){
            sessionStorage.clear();
            location.reload();
        }else{
          var respuesta = JSON.parse(request.responseText);
          if (request.status == 200) {
            this.btonActualizaTarjeta=false;
            this.btonBuscaTarjeta=true;
            this.tarjetaActual = this.numeroTarjeta;
            this.banco = respuesta.banco;
            this.fechaCaducidad = respuesta.fechaCaducidad;
         }else{
           alert(respuesta.msg);
         }
       }
      }
      limpiaVariables(){
        this.fechaCaducidad = "";
        this.numeroTarjeta = "";
        this.banco = "";
        this.tarjetaActual = "";
      }
    }

    window.customElements.define(OperacionesTarjeta.is,OperacionesTarjeta);

  </script>
</dom-module>
