<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../operaciones-tarjeta/operaciones-tarjeta.html">
<link rel="import" href="../operaciones-contarjeta/operaciones-contarjeta.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

<dom-module id="front-page">
  <template>
     <style is="custom-style">
         :host{
           display: block;
         }
         .login-page{
           width: 360px;
           padding: 8% 0 0;
           margin: auto;
         }
               .form {
               position: relative;
               z-index: 1;
               background: #FFFFFF;
               max-width: 360px;
               margin: 0 auto 100px;
               padding: 45px;
               text-align: center;
               box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
             }
             .form input {
               font-family: "Roboto", sans-serif;
               outline: 0;
               background: #f2f2f2;
               width: 100%;
               border: 0;
               margin: 0 0 15px;
               padding: 15px;
               box-sizing: border-box;
               font-size: 14px;
             }
             .form button {
               font-family: "Roboto", sans-serif;
               text-transform: uppercase;
               outline: 0;
               background: #194F87;
               width: 100%;
               border: 0;
               padding: 15px;
               color: #FFFFFF;
               font-size: 14px;
               -webkit-transition: all 0.3 ease;
               transition: all 0.3 ease;
               cursor: pointer;
             }
             .form button:hover,.form button:active,.form button:focus {
               background: #0A9BC4;
             }
             .form .message {
               margin: 15px 0 0;
               color: #b3b3b3;
               font-size: 12px;
             }
             .form .message a {
               color: #194F87;
               text-decoration: none;
             }

             .container {
               position: relative;
               z-index: 1;
               max-width: 300px;
               margin: 0 auto;
             }
             .container:before, .container:after {
               content: "";
               display: block;
               clear: both;
             }
             .container .info {
               margin: 50px auto;
               text-align: center;
             }
             .container .info h1 {
               margin: 0 0 15px;
               padding: 0;
               font-size: 36px;
               font-weight: 300;

             }
             .container .info span {
               color: #4d4d4d;
               font-size: 12px;
             }
             .container .info span a {
               color: #000000;
               text-decoration: none;
             }
             .container .info span .fa {
               color: #EF3B3A;
             }
             ul {
               list-style-type: none;
               margin: 0;
               padding: 0;
               overflow: hidden;
               background-color: #333;
               border: 1px solid #e7e7e7;
             }

             li {
               float: left;
             }

             li a {
               display: block;
               color: white;
               text-align: center;
               padding: 14px 16px;
               text-decoration: none;
             }

             /* Change the link color to #111 (black) on hover */
             li a:hover {
               background-color: blue;
             }
             .big {
               --iron-icon-height: 120px;
               --iron-icon-width: 120px;
               --iron-icon-fill-color: #194F87;
             }
             google-map {
              height: 300px;
            }

     </style>

    <div class="row" hidden="[[opciones]]">
      <ul>
        <li><a href="#" on-click="actualizarPagina">Inicio <iron-icon icon="home"></iron-icon></a></li>
        <li><a href="#" on-click="operacionesTarjeta">Tarjetas <iron-icon icon="credit-card"></iron-icon>
        </a></li>
        <li><a href="#" on-click="operacionesContarjeta">Operaciones <iron-icon icon="assessment"></iron-icon>
        </a></li>
        <li><a href="#" on-click="cerrarSesion">Cerrar Sesion <iron-icon icon="exit-to-app"></iron-icon>
        </a></li>
        <li><a><iron-icon icon="account-circle"></iron-icon> Benidovenido: [[usuario]]</a></li>

     </ul>
     </div>
     <center>
      <div class="row" hidden="[[loginPage]]">
        <br> <h1><font class="col-md-12" color=blue><b>Sistema de cuentas Bancarias BBVA</b></font></h1></br>
      </div>
     </center>
     <div class="mapa" hidden="[[mapa]]">
      <!-- <google-map fit-to-markers api-key="AIzaSyD3E1D9b-Z7ekrT3tbhl_dy8DCXuIuDDRc">
         <google-map-marker latitude="100.78" longitude="-122.4" draggable="true"></google-map-marker>
       </google-map>-->
       <table>
         <thead>
           <th><iron-icon icon="cloud"></iron-icon>Clima</th>
         </thead>
       <tbody>
           <tr><td>estado: [[estado]]</td></tr>
           <tr><td>Temperatura: [[temp]]</td></tr>
           <tr><td>Minima: [[tempMin]]</td></tr>
           <tr><td>Maxima: [[tempMax]]</td></tr>
           <tr><td>Cielo: [[cielo]]</td></tr>

       </tbody>
     </table>
     </div>

     <div class="container" hidden="[[loginPage]]">
       <div class="login-page">
          <div class="form">
            <div class="register-form" hidden="[[registroForm]]">
              <iron-icon class="big" icon="account-circle"></iron-icon>
              <input type="text" placeholder="name" value="{{valNombre::input}}"/>
              <input type="email" placeholder="email address" value="{{valEmail::input}}"/>
              <input type="password" placeholder="password" value="{{valPassword::input}}"/>
              <button on-click="registroUsuario">Registrar</button>
              <p class="message">Already registered? <a href="#" on-click="showLogin">Sign In</a></p>
           </div>
           <div class="login-form" hidden="[[loginForm]]">
             <iron-icon class="big" icon="account-circle"></iron-icon>
             <input type="email" placeholder="email" value="{{valEmail::input}}"/>
             <input type="password" placeholder="password" value="{{valPassword::input}}"/>
             <button on-click="loginsession">Login</button>
             <p class="message">Not registered? <a href="#" on-click="showRegistro">Create an account</a></p>
           </div>
         </div>
       </div>
     </div>
     <div hidden="[[tarjeta]]">
        <operaciones-tarjeta></operaciones-tarjeta>
     </div>
     <div hidden="[[operaciones]]">
        <operaciones-contarjeta></operaciones-contarjeta>
     </div>
  </template>
  <script >

    class FrontPage extends Polymer.Element {
      static get is() { return 'front-page'; }
      static get properties() {
        return {
          tarjeta:{
            type: Boolean,
            value: false
          },
          operaciones:{
            type: Boolean,
            value: true
          },
          valEmail: {
            type: String
          },
          valPassword: {
            type: String
          },
          valNombre:{
            type: String
          },
          registroForm: {
            type: Boolean,
            value: true
          },
          loginForm: {
            type: Boolean,
            value: false
          },
          loginPage: {
            type: Boolean,
            value: false
          },
          msg: {
            type: String,
          },
          opciones:{
            type: Boolean,
            value: true
          },
          mapa: {
            type: Boolean,
            value: true
          },
          usuario: {
            type: String
          },
          estado: {
            type: String
          },
          temp: {
            type: String
          },
          tempMin: {
            type: String
          },
          tempMax: {
            type: String
          },
          cielo: {
            type: String
          }
        };
      }
      constructor(){
        super();
        this.tarjeta = true;
        this.operaciones = true;
        if(sessionStorage.token){
          this.opciones = false;
          this.loginPage = true;
          this.usuario = sessionStorage.getItem('nombre');
          this.mapa = false;
          this.consultaClima();

          //console.log("esciste token");
        }else{
          this.opciones = true;
          this.loginPage = false;
        }
      }
      actualizarPagina(){
        //location.reload();
        this.mapa = false;
        this.tarjeta = true;
        this.operaciones = true;
        this.consultaClima();
      }

      operacionesTarjeta(){

        this.tarjeta = false;
        this.operaciones = true;
        this.mapa = true;
      }
      operacionesContarjeta(){
        this.tarjeta = true;
        this.operaciones = false;
        this.mapa = true;
      }
      cerrarSesion(){
        sessionStorage.clear();
        this.tarjeta = true;
        this.loginPage = false;
        this.operaciones= true;
        this.mapa = true;
        location.reload();
      }
      showRegistro(){
          this.registroForm = false;
          this.loginForm = true;
      }
      showLogin(){
          this.registroForm = true;
          this.loginForm = false;
      }
      loginsession() {
        var loginURL="http://localhost:3000/login";
        var request = new XMLHttpRequest();

        request.open('POST', loginURL, false);
        request.setRequestHeader('Content-Type','application/json; charset=UTF-8');
        request.onload = function () {
          var responseObject = JSON.parse(this.response);
          //console.log(responseObject);
          if (responseObject.token) {
            sessionStorage.setItem('token', responseObject.token);
            sessionStorage.setItem('nombre', responseObject.nombre);
          } else {
            alert(responseObject.msg);
          }
        }
        var sendObject = JSON.stringify({'email': this.valEmail, 'password': this.valPassword});
        request.send(sendObject);

        if (request.status == 200) {
          var respuesta = JSON.parse(request.responseText);
          this.loginPage = true;
          this.opciones = false;
          this.showLogin();
          this.valEmail = "";
          this.valPassword = "";
          this.valNombre = "";
          this.usuario = respuesta.nombre;
          this.mapa = false;
          this.consultaClima();
        }
      }
      registroUsuario() {
        var loginURL="http://localhost:3000/signup";
        var request = new XMLHttpRequest();
        request.open('POST', loginURL, false);
        request.setRequestHeader('Content-Type','application/json; charset=UTF-8');

        var sendObject = JSON.stringify({'email': this.valEmail, 'nombre':this.valNombre,'password': this.valPassword});
        request.send(sendObject);
        var responseObject = JSON.parse(request.responseText);
        if (request.status == 200) {
          this.loginsession();
        }else{
          alert(responseObject.msg);
        }
      }
      //ConsultaAPI
      consultaClima() {
        var request = new XMLHttpRequest();
        request.open("GET","http://api.openweathermap.org/data/2.5/forecast?id=4004156&APPID=f7a281d7be5bc62037ee0ac4e1c5f291",false);
        request.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
        request.send();
        if(request.status == 200){
           var respuesta = JSON.parse(request.responseText);
           /*console.log("estado: ",respuesta.city.name);
           console.log("temp: ",respuesta.list[0].main.temp);
           console.log("temp_min: ",respuesta.list[0].main.temp_min);
           console.log("temp_max: ",respuesta.list[0].main.temp_max);
           console.log("cielo: ",respuesta.list[0].weather[0].description);*/

           this.estado = respuesta.city.name;
           this.temp = respuesta.list[0].main.temp;
           this.tempMin = respuesta.list[0].main.temp_min;
           this.tempMax = respuesta.list[0].main.temp_max;
           this.cielo = respuesta.list[0].weather[0].description;
          // console.log("estado: ",respuesta.city.name);
        }
      }


    }

    window.customElements.define(FrontPage.is,FrontPage);

  </script>
</dom-module>
