<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

id="operaciones-contarjeta"
<dom-module id="operaciones-contarjeta">
  <template>

    <style is="custom-style">
        :host{
          display: block;
        }

        .login-page{
          width: 360px;
          padding: 8% 0 0;
          margin: auto;
        }
              .form {
              position: relative;
              z-index: 1;
              background: #FFFFFF;
              max-width: 360px;
              margin: 0 auto 100px;
              padding: 45px;
              text-align: center;
              box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
            }
            .form input {
              font-family: "Roboto", sans-serif;
              outline: 0;
              background: #f2f2f2;
              width: 100%;
              border: 0;
              margin: 0 0 15px;
              padding: 15px;
              box-sizing: border-box;
              font-size: 14px;
            }
            .form button {
              font-family: "Roboto", sans-serif;
              text-transform: uppercase;
              outline: 0;
              background: #194F87;
              width: 100%;
              border: 0;
              padding: 15px;
              color: #FFFFFF;
              font-size: 14px;
              -webkit-transition: all 0.3 ease;
              transition: all 0.3 ease;
              cursor: pointer;
            }
            .form button:hover,.form button:active,.form button:focus {
              background: #0A9BC4;
            }
            .form .message {
              margin: 15px 0 0;
              color: #b3b3b3;
              font-size: 12px;
            }
            .form .message a {
              color: #194F87;
              text-decoration: none;
            }


            .container {
              position: relative;
              z-index: 1;
              max-width: 300px;
              margin: 0 auto;
            }
            .container:before, .container:after {
              content: "";
              display: block;
              clear: both;
            }
            .container .info {
              margin: 50px auto;
              text-align: center;
            }
            .container .info h1 {
              margin: 0 0 15px;
              padding: 0;
              font-size: 36px;
              font-weight: 300;
              color: #1a1a1a;
            }
            .container .info span {
              color: #4d4d4d;
              font-size: 12px;
            }
            .container .info span a {
              color: #000000;
              text-decoration: none;
            }
            .container .info span .fa {
              color: #EF3B3A;
            }
            ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
              width: 15%;
              background-color: #f1f1f1;
              position: fixed;
              height: 30%;
              overflow: auto;
            }

            li a {
              display: block;
              color: #000;
              padding: 8px 16px;
              text-decoration: none;
            }

            li a.active {
              background-color: blue;
              color: white;
            }

            li a:hover:not(.active) {
              background-color: #555;
            }
            .big {
              --iron-icon-height: 25px;
              --iron-icon-width: 25px;
              --iron-icon-fill-color: blue;
            }
            table {
              border-collapse: collapse;
              width: 100%;
            }

            th, td {
              text-align: left;
              padding: 8px;
            }

            tr:nth-child(even) {
              background-color: #f2f2f2;
            }
    </style>

    <center>
     <div class="row" hidden="[[loginPage]]">
       <br> <h1><font class="col-md-12" color=blue><b>[[movimientosContarjetas]]</b></font></h1></br>
     </div>
    </center>

    <ul>
      <li><a class="active">Operaciones <iron-icon icon="assessment"></iron-icon></a></li>
      <li><a href="#Altas" on-click="funcionAltas">Registrar</a></li>
      <li><a href="#Consulta" on-click="funcionConsulta">Mostrar</a></li>
    </ul>

    <!--registra movimientos-->
    <div class="container">
      <div class="form-actualiza" hidden="[[opAltas]]">
        <div <div class="form">
          <div class="formActualiza">
            <h5 hidden="[[btonActualizaTarjeta]]" >Tarjeta: [[numeroTarjeta]]</h5>
             <input type="text" placeholder="Numero de Tarjeta" value="{{numeroTarjeta::input}}" hidden="[[btonBuscaTarjeta]]"/>
             <div class="tarjeta-obtenida" hidden="[[btonActualizaTarjeta]]">
               <input type="text" placeholder="Monto de operaicón" value="{{monto::input}}"/>
                <input type="text" placeholder="Motivo del gasto" value="{{motivo::input}}"/>
               <lavel>fecha operacion</lavel>
               <input type="date" value="{{fechaOperacion::input}}"/>
               <button hidden="[[btonActualizaTarjeta]]" on-click="altaMovimiento">Alta Movimiento</button>
             </div>
             <button hidden="[[btonBuscaTarjeta]]" on-click="obtieneTarjeta">Consultar Tarjeta</button>
          </div>
        </div>
      </div>

      <!--consulta movimientos-->
      <div class="row" hidden="[[opConsulta]]">
        <div <div class="form">
          <input type="text" placeholder="Numero de Tarjeta" value="{{numeroTarjeta::input}}"/>
          <button on-click="obtieneMovimientos">Consulta Movimientos</button>
          </div>
          <table>
          <thead>
            <th>Monto</th>
            <th>Motivo</th>
            <th>Fecha</th>
            <th>Eliminar</th>
            <th>Actualizar</th>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{listaMovimientos}}">
              <tr>
                <td>[[item.monto]]</td>
                <td>[[item.motivo]]</td>
                <td>[[item.fecha]]</td>
                <td><label on-click="eliminarMovimiento"><iron-icon class="big" icon="delete" ></iron-icon></label></td>
                <td><label on-click="funcionObitneDatos"><iron-icon class="big" icon="create" ></iron-icon></label></td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>

      <!--actualiza movimiento-->
      <div class="container">
        <div class="form-actualiza" hidden="[[opActualiza]]">
          <div <div class="form">
            <div class="formActualiza">
              <h5>Tarjeta: [[tarjetaActual]]</h5>
               <div class="tarjeta-obtenida">
                 <input type="text" placeholder="Motivo del gasto" value="{{motivo::input}}"/>
                 <input type="text" placeholder="Monto de operaicón" value="{{monto::input}}"/>
                 <lavel>fecha operacion</lavel>
                 <input type="date" value="{{fechaOperacion::input}}"/>
                 <button on-click="actualizaMovimiento">Actualizar</button>
               </div>
            </div>
          </div>
        </div>

    <!--  <paper-autocomplete id="algo"  label="Select"  source=[[prueba]] suggestions-in-overlay="true" display-options-on-focus="true" ></paper-autocomplete>
-->

    </div>
  </template>
  <script>


    class OperacionesContarjeta extends Polymer.Element {
      static get is() { return 'operaciones-contarjeta'; }
      static get properties() {
        return {
          prueba: {
            type: Array,
            value: [{'dato':'dato'},{'dato':'dato1'}]
          },
          formaltas: {
            type: Boolean,
            value: false
          },
          showTarjetas: {
            type: Boolean,
            value: true
          },
          banco:{
            type: String
          },
          monto:{
            type: Number
          },
          motivo:{
            type: String
          },
          fechaOperacion:{
            type: Date
          },
          numeroTarjeta:{
            type : String
          },
          movimientosContarjetas:{
            type: String
          },
          btonActualizaTarjeta:{
            type : Boolean,
            value: true
          },
          btonBuscaTarjeta:{
            type: Boolean,
            value: false
          },
          tarjetaActual:{
            type: String,
          },
          listaTarjetas: {
            type: Array,
            notify: true
          },
          opActualiza:{
            type: Boolean,
            value: true
          },
          opConsulta:{
            type: Boolean,
            value: true
          },
          opAltas:{
            type: Boolean,
            value: true
          },
          motivoActual:{
            type: String,
          }

        };
      }

      constructor() {
        super();
        if(sessionStorage.token){
          //this.obtenerTarjetas();
        }
        //console.log(document.querySelector('paper-autocomplete-suggestions'));
      }

      //Menu
      funcionAltas(){
        this.opActualiza = true;
        this.opConsulta = true;
        this.opAltas = false;
        this.btonBuscaTarjeta = false;
        this.btonActualizaTarjeta = true;
        this.movimientosTarjetas = "Registrar Movimiento";
      }
      funcionConsulta(){
        //this.obtenerTarjetas();
        this.opActualiza = true;
        this.opConsulta = false;
        this.opAltas = true;
        this.movimientosTarjetas = "Consulta Movimientos";
        //this.limpiaVariables();
      }
      funcionObitneDatos(e){
        this.opActualiza = false;
        this.opConsulta = true;
        this.opAltas = true;
        this.movimientosTarjetas = "Actualizar Movimiento";
        //console.log(e.model.__data.item);
        this.tarjetaActual = e.model.__data.item.tarjetaId;
        this.motivoActual = e.model.__data.item.motivo;
        this.motivo = e.model.__data.item.motivo;
        this.monto = e.model.__data.item.monto;
        this.fechaOperacion = e.model.__data.item.fecha;
      }

      altaMovimiento(){
        var loginURL="http://localhost:3000/movimientos";
        var request = new XMLHttpRequest();

        request.open('POST', loginURL, false);
        request.setRequestHeader('Content-Type','application/json; charset=UTF-8');
        var token = sessionStorage.getItem('token');
        request.setRequestHeader("Authorization",token);
        var sendObject = JSON.stringify({'tarjetaId': this.numeroTarjeta, 'monto':this.monto, 'motivo': this.motivo, 'fecha':this.fechaOperacion });
        //console.log('going to send', sendObject);
        request.send(sendObject);
        //console.log('respuesta',request.responseText);

        if(request.responseText == "Unauthorized"){
            //console.log("sesion caducada");
            sessionStorage.clear();
            location.reload();
        }else {
          var responseObject = JSON.parse(request.responseText);
          if(request.status == 200){
            this.btonBuscaTarjeta = false;
            this.btonActualizaTarjeta = true;
            this.limpiaVariables();
          }
          alert(responseObject.msg);
        }
      }

      eliminarMovimiento(e){
        this.numeroTarjeta = e.model.__data.item.tarjetaId;
        this.motivo = e.model.__data.item.motivo;
        this.bajaMovimiento();
        this.obtieneMovimientos();
      }
      obtenerTarjetas() {
        var request = new XMLHttpRequest();
        request.open("GET","http://localhost:3000/tarjeta/",false);
        request.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
        var token = sessionStorage.getItem('token');
        request.setRequestHeader("Authorization",token);
        request.send();
        if(request.status == 200){
          this.listaTarjetas = JSON.parse(request.responseText).data;
          this.showTarjetas = false;
        }
      }
      bajaMovimiento() {
        var request = new XMLHttpRequest();
        var respuesta;
        request.open("DELETE","http://localhost:3000/movimientos/"+this.motivo,false);
        request.setRequestHeader('Content-Type','application/json; charset=UTF-8');
        var token = sessionStorage.getItem('token');
        request.setRequestHeader("Authorization",token);
        var sendObject = JSON.stringify({'tarjetaId': this.numeroTarjeta});
        //console.log(sendObject);
        //console.log(this.motivo);
        request.send(sendObject);
        if(request.responseText == "Unauthorized"){
            sessionStorage.clear();
            location.reload();
        }else {
          var responseObject = JSON.parse(request.responseText);
          alert(responseObject.msg);
          //console.log(responseObject);
        }

      }
      actualizaMovimiento() {
        var request = new XMLHttpRequest();
        request.open("PATCH","http://localhost:3000/movimientos/"+this.motivoActual,false);
        request.setRequestHeader('Content-Type','application/json; charset=UTF-8');
        var token = sessionStorage.getItem('token');
        request.setRequestHeader("Authorization",token);
        var sendObject = JSON.stringify({'tarjetaId': this.tarjetaActual, 'monto':this.monto, 'motivo': this.motivo, 'fecha':this.fechaOperacion });
        request.send(sendObject);
      //  console.log('respuesta: ',request.responseText);
        var respuesta = JSON.parse(request.responseText);
        if(request.status == 200){
          this.limpiaVariables();
        }
        alert(respuesta.msg);

      }
      obtieneTarjeta() {
        var request = new XMLHttpRequest();
        var respuesta;
        request.open("GET","http://localhost:3000/tarjeta/"+this.numeroTarjeta,false);
        request.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
        var token = sessionStorage.getItem('token');
        request.setRequestHeader("Authorization",token);
        //console.log('token: ',request.setRequestHeader);
        request.send();
        var respuesta = JSON.parse(request.responseText);
        if (request.status == 200) {
          this.btonActualizaTarjeta=false;
          this.btonBuscaTarjeta=true;
          this.tarjetaActual = this.numeroTarjeta;
          this.banco = respuesta.banco;
          this.fechaCaducidad = respuesta.fechaCaducidad;
          this.desabilitada = "disabled";
       }else{
         alert(respuesta.msg);
       }
      }

      obtieneMovimientos() {
        var request = new XMLHttpRequest();
        request.open("GET","http://localhost:3000/movimientos/"+this.numeroTarjeta,false);
        request.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
        var token = sessionStorage.getItem('token');
        request.setRequestHeader("Authorization",token);
        request.send();
        if(request.status == 200){
          this.listaMovimientos = JSON.parse(request.responseText).data;
        }
      }

      limpiaVariables(){
        this.monto = "";
        this.motivo = "";
        this.fechaOperacion = "";
      }
    }

    window.customElements.define(OperacionesContarjeta.is,OperacionesContarjeta);

  </script>
</dom-module>
